@model cs_sstu_lab5.Models.CalculatorModel

<div class="row">
    <div class="col-md-4">
        <form id = "calculator" asp-controller="Calculator" asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="A" class="control-label"></label>
                <input asp-for="A" class="form-control" />
                <span asp-validation-for="A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="B" class="control-label"></label>
                <input asp-for="B" class="form-control" />
                <span asp-validation-for="B" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operation" class="control-label"></label>
                <select asp-for="Operation" class="form-control" asp-items="Html.GetEnumSelectList<CalculatorModel.OperationType>()"></select>
                <span asp-validation-for="Operation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                @Html.DisplayFor(m => m.Result)
                <span id="res"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
        let calculator = document.querySelector('#calculator')
        let res = document.querySelector('#res')

        calculator.addEventListener('submit', event => {
            event.preventDefault();

            let calcData = $('#calculator').serialize();

            $.ajax({
                url: '/calculator/calculate',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: calcData,
                success: data => res.innerHTML = data
           });
        });
</script>



